.bannerSeccion{
    width: auto;
    height: 50px;
    padding: 0.5%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #343434 url(../../../images/fondonovedades.svg);

}
.bannerSeccion h5{
    border-bottom: 0.5px solid black;
    font-weight: bold;
}

.novedades-container{
    padding: 3%;
}

.cajaNovedad{
    
    display: flex;
    flex-direction: row;
    height: 350px;
    justify-content: space-evenly;
    margin-bottom: 1em;

    transition: all .6s ease-in-out;

    

}
.cajaNovedad img{
    width: 60%;
    height: auto;
    object-fit: cover;
    margin-right: 0px;

}
.infoNovedad {
    border: 1px solid black;
    padding: 3%;
    text-align: center;

    
}
.infoNovedad p{
    font-size: small;
}


.cajaNovedad:hover{
    cursor: default;
}
.cajaNovedad:hover .division{
    width: 60%;
}



